<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />

</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00aeef;">
        <a class="navbar-brand" href="#">
            <img src="/images/dte_black.png" width="200" height="70" alt="">
        </a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style ="color:white;"  href="#">Residential <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style ="color:white;" href="#">Business</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
       
        <h3 id="welcome-statement" th:text="'Welcome DTE Energy Web app'"></h3>

        </br>

        <h5>DTE Energy Mission Statement:</h5>

        <h6 style="font-style:italic">"Our mission is to be a premier, full-service energy and energy technology company, providing solutions to meet the needs of 21st century customers. We will operate as a fast-paced, progressive, high-performance, value-based organization."</h6>

        </br>
        <p th:text="'This date example  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}">is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work.
            It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    </div>
</div>

<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>